kurtosis-cdk/
new-env
new-env1

new-env/lib/python3.9/site-packages/symengine.libs/libflint-b75bea04.so.15.0.1
new-env/lib/python3.9/site-packages/symengine/lib/symengine_wrapper.cpython-39-x86_64-linux-gnu.so
debug.log
